.text-red{
    color: #FF3131;
}
.text-yellow{
    color: #FFDE59;
}
.table-container-scrollable {
    max-height: 60vh;
    overflow-y: auto;
}

.table-container-scrollable thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F5F5F9; /* màu nền chung */
}
